
<%- include('../partials/header')%>

<body>

<h3><%= title%> </h3>

   <% skills.forEach(function(skill) { %>

       <p> <%= skill.skill %> :
       <%= skill.learned ? "learned" : "not yet learned" %> : <a href="/skills/<%=skill.id%>">Update Status</a> </p> 
       
<!-- 
       <form action="/skills/<%= skill.id %>?_method=DELETE"
         class="delete-form" method="POST">
        <button type="submit">X</button>
    </form> -->

    <!-- i prefer having the delete button within show.ejs -->

        <%  });  %> 


       <a href="/skills/new">Add a Skill</a>


        <%- include('../partials/footer')%>

