
<%- include('../partials/header')%>

<body>
    <h3> <%= title %> <%= skill.skill %></h3>

    <h4>Status: <%= skill.learned ? "learned" : "not yet learned" %></h4>

    <h5>Check/Uncheck box below to update status</h5>


<form action="/skills/<%=skill.id%>?_method=PUT" method="POST" autocomplete="off">


    <input type="checkbox" name="learned" 
    
    <% if(skill.learned) {%>
      checked
      <% } %>
    >

    <button type="submit">Click to Update</button>
  
  </form>

  <P>&nbsp; </P>

  <form action="/skills/<%= skill.id %>?_method=DELETE"
    class="delete-form" method="POST">
   <button type="submit">Click to Delete Skill</button>
</form>

<P>&nbsp; </P>



   <div>

    <a href="/skills">Back to Skills</a>

    <P>&nbsp; </P>

</div>



    <%- include('../partials/footer')%>
